.menuContainer {
  position: fixed;
  padding: 10px 0;
  background-color: #424242;
  width: 240px;
  height: 100%;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  margin-top: -20px;
}
.menuAvatar {
  color: white!important;
}
.menuSmallAvatar {
  div {
    left: 5px!important;
  }
}
.menuContainerSmall {
  width: 50px;
}
.menuHideButton {
  float: right;
}
@media (max-width: 600px) {
  .menuContainer {
    margin-Top: 10px!important;
  }
}