.lineProgress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  display: block;
}
.app {
  background-color: white;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.content {
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  margin-left: 240px!important;
}
.contentMax {
  margin-left: 50px!important;
}
@media (max-width: 600px) {
  .content {
    margin-left: 0!important;
  }
}