.menuItem {
  width: 100%;
  min-width: 50px!important;
  text-align: left!important;
  height: 40px!important;
  &:hover {
    color: white!important;
  }
}
.smallMenuItem {
  text-align: center!important;
}
.menuItemActive {
  background-color: rgba(176, 190, 197, 0.3)!important;
  div::before {
    content: '';
    padding-top: 40px;
    padding-right: 4px;
    float: left;
    background-color: #009688;
  }
  div {
    svg {
      fill: white!important;
    }
  }
}